@import "../../style/vars.scss";
.page {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  .features__image-box {
    flex-basis: 50%;
    top: 918px;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  .page__rectangle {
    background: #f5f6fa;
    height: 704px;
    position: absolute;
    top: 1845px;
    width: 100%;
    z-index: -1;
  }
  .page__mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 492px;
  }
  .page__container {
    display: flex;
    flex-direction: column;
    .promo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      height: 676px;
      & img {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
      }
      .promo__text-box {
        display: flex;
        flex-direction: column;
        .promo__title {
          color: $dark-color;
          font-size: 54px;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: 146.296%;
          letter-spacing: 0.8px;
          margin-bottom: 25px;
          text-align: left;
          width: 60%;
        }

        .promo__subtitle {
          color: $dark-color;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-normal;
          line-height: 168.75%;
          letter-spacing: 1.15px;
          width: 43%;
          text-align: left;
          margin-bottom: 42px;
        }

        .promo__action {
          width: 41%;
          border-radius: 29px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.12);
          & svg {
            position: absolute;
            left: 28px;
            top: 21px;
            z-index: 2;
          }
          .promo__input {
            padding: 18px 0 18px 72px;
            border-radius: 29px;
            border: none;
            outline: none;
            color: #bbb;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-normal;
            line-height: normal;
            transition: 0.3s ease-in-out;
            &::placeholder {
              color: #bbb;
              font-size: $fz-subtitle;
              font-style: normal;
              font-weight: $fw-normal;
              line-height: normal;
            }
          }
          .promo__btn {
            border-radius: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $orange-color;
            border: none;
            color: $white-color;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            padding: 18px 0;
            flex-basis: 34%;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              color: $orange-color;
              background: $white-color;
            }
          }
        }
      }
    }
    .sponsors {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 100px 0;
      & img {
        display: block;
      }
    }
    .features {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 550px;
      .features__text-box {
        display: flex;
        flex-direction: column;
        flex-basis: 34%;
        .features__title {
          color: $dark-color;
          font-size: $fz-title;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: 147.619%;
          letter-spacing: 0.8px;
          text-align: left;
        }

        .features__subtitle {
          color: $dark-color;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-normal;
          line-height: 168.75%;
          letter-spacing: 1.15px;
          margin-top: 20px;
          text-align: left;
        }

        .features__btn {
          cursor: pointer;
          width: 46%;
          padding: 18px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 29px;
          background: $orange-color;
          color: $white-color;
          border: none;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: normal;
          margin-top: 40px;
          transition: 0.3s ease-in-out;
          &:hover {
            color: $orange-color;
            background: $white-color;
          }
        }
      }
    }
    .video {
      border-radius: 20px;
      background: #58bebf;
      margin: 145px 0;
      position: relative;
      z-index: 1;
      height: 464px;
      display: flex;
      align-items: center;
      justify-content: end;
      .video__rectangle {
        position: absolute;
        width: 555px;
        height: 405px;
        z-index: -1;
        bottom: 0;
        left: 0;
        border-radius: 0 21.6px 0 20px;
        background: $white-color;
        box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
      }

      .video__table {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 0 0 0 20px;
      }

      .video__oval {
        position: absolute;
        bottom: 0;
        left: 369px;
        z-index: -2;
      }

      .video__circle {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .video__fill {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
      .video__text-box {
        flex-basis: 50%;
        padding: 0 95px;
        .video__title {
          color: $white-color;
          font-size: $fz-title;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: 147.619%;
          letter-spacing: 0.8px;
          text-align: left;
        }

        .video__subtitle {
          color: $white-color;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-normal;
          line-height: 168.75%;
          letter-spacing: 1.15px;
          text-align: left;
          margin-top: 15px;
        }

        .video__buttons {
          display: flex;
          align-items: center;
          margin-top: 30px;
          justify-content: space-between;
          .video__contact-btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 29px;
            background: $orange-color;
            border: none;
            color: $white-color;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            flex-basis: 47%;
            padding: 18px 0;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $orange-color;
              background: $white-color;
            }
          }

          .video__video-btn {
            cursor: pointer;
            border-radius: 29px;
            height: 60px;
            border: none;
            background: $white-color;
            color: $dark-color;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            flex-basis: 47%;
            padding: 18px 0;
            display: flex;
            justify-content: center;
            column-gap: 7px;
            align-items: center;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $orange-color;
            }
          }
        }
      }
    }
    .functions {
      display: flex;
      flex-direction: column;
      align-items: center;
      .functions__title {
        color: $dark-color;
        font-size: $fz-title;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 147.619%;
        letter-spacing: 0.8px;
      }

      .functions__subtitle {
        color: $dark-color;
        font-size: $fz-subtitle;
        font-style: normal;
        font-weight: $fw-normal;
        line-height: 168.75%;
        letter-spacing: 1.15px;
        margin-top: 10px;
        margin-bottom: 45px;
      }
      .functions__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .functions__item {
          padding: 40px 88px;
          flex-basis: 49%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 10px;
          background: $orange-color;
          box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
          &:nth-child(2) {
            background: white;
          }
          .functions__item-title {
            font-size: $fz-title;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            letter-spacing: 0.8px;
          }

          .functions__item-title--buyer {
            color: $white-color;
          }

          .functions__item-title--seller {
            color: $dark-color;
          }

          .functions__item-subtitle {
            text-align: center;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-normal;
            line-height: 168.75%;
            letter-spacing: 1.15px;
            margin-top: 1px;
            margin-bottom: 25px;
          }

          .functions__item-subtitle--buyer {
            color: $white-color;
          }

          .functions__item-subtitle--seller {
            color: $dark-color;
          }

          .functions__item-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            padding: 18px 0;
            width: 38%;
            border-radius: 29px;
            border: none;
            transition: 0.3s ease-in-out;
          }

          .functions__item-btn--buyer {
            color: $orange-color;
            background: $white-color;
          }

          .functions__item-btn--buyer:hover {
            color: $white-color;
            background: $orange-color;
          }

          .functions__item-btn--seller {
            color: $orange-color;
            background: $white-color;
          }

          .functions__item-btn--seller:hover {
            color: $white-color;
            background: $orange-color;
          }
        }
      }
    }
    .achievements {
      margin: 112px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .achievements__title {
        color: $dark-color;
        text-align: center;
        font-size: $fz-title;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 147.619%;
        letter-spacing: 0.8px;
      }

      .achievements__blocks {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;
        .achievements__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .achievements__item-title {
            color: $dark-color;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: normal;
            letter-spacing: 0.5px;
            margin: 15px 0 2px 0;
          }

          .achievements__item-subtitle {
            color: $dark-color;
            text-align: center;
            font-size: $fz-subtitle;
            font-style: normal;
            font-weight: $fw-normal;
            line-height: 168.75%;
            letter-spacing: 1.15px;
          }
        }
      }
    }
    .blog {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 60px 0;
      .blog__text-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .blog__title {
          flex-basis: 41%;
          color: $dark-color;
          font-size: $fz-title;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: 147.619%;
          letter-spacing: 0.8px;
          text-align: left;
        }

        .blog__subtitle {
          flex-basis: 36%;
          color: #606060;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-normal;
          line-height: 168.75%;
          letter-spacing: 1.15px;
          text-align: left;
        }
      }
      .blog__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        position: relative;
        .blog__svg {
          position: absolute;
          top: -40px;
          right: -40px;
          z-index: 1;
        }
        .blog__card {
          display: flex;
          align-items: center;
          flex-direction: column;
          border-radius: 5px;
          flex-basis: 32%;
          position: relative;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          & svg {
            position: absolute;
            top: 134px;
            right: 20px;
            z-index: 1;
            display: none;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }
          &:hover {
            box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
            & .blog__card-city {
              color: $orange-color;
            }
            & svg {
              display: block;
            }
          }
          .blog__card-image {
            display: block;
            width: 100%;
          }
          .blog__card-text-box {
            display: flex;
            align-items: start;
            flex-direction: column;
            padding: 29px 31px;
            .blog__card-quote {
              color: $dark-color;
              font-size: $fz-subtitle;
              font-style: normal;
              font-weight: $fw-normal;
              line-height: 168.75%;
              letter-spacing: 1.15px;
              text-align: left;
              margin-bottom: 23px;
            }

            .blog__card-autor {
              color: $dark-color;
              font-size: 18px;
              font-style: normal;
              font-weight: $fw-bold;
              line-height: normal;
              letter-spacing: 0.6px;
            }

            .blog__card-city {
              color: #58bebf;
              font-size: $fz-subtitle;
              font-style: normal;
              font-weight: $fw-normal;
              line-height: 168.75%;
              letter-spacing: 1.15px;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
    .exp {
      position: relative;
      height: 492px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 40px;
      .exp__woman {
        position: absolute;
        bottom: 0;
        right: 80px;
        z-index: 2;
      }
      .exp__oval {
        position: absolute;
        bottom: 0;
        z-index: 1;
        right: -107px;
      }
      .exp__text-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 156px 0 55px 0;
        width: 33%;
        .exp__title {
          color: $white-color;
          font-size: $fz-title;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: 147.619%;
          letter-spacing: 0.8px;
          text-align: left;
        }

        .exp__subtitle {
          color: $white-color;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-normal;
          line-height: 168.75%;
          letter-spacing: 1.15px;
          margin: 15px 0;
          text-align: left;
        }

        .exp__btn {
          cursor: pointer;
          margin-top: 15px;
          color: $dark-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $fz-subtitle;
          font-style: normal;
          font-weight: $fw-bold;
          line-height: normal;
          border-radius: 29px;
          background: $white-color;
          border: none;
          padding: 18px 40px;
          transition: 0.3s ease-in-out;
          &:hover {
            background: transparent;
            color: $white-color;
          }
        }
      }
    }
  }
}
