@import "../../style/vars.scss";
.header {
  width: 100%;
  padding: 40px 0;
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      display: flex;
      align-items: center;
      column-gap: 15px;
      cursor: pointer;
      & p {
        color: $dark-color;
        font-size: 24px;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: normal;
      }
    }
    .header__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 42px;
      .header__item {
        cursor: pointer;
        color: $dark-color;
        text-align: center;
        font-size: $fz-subtitle;
        font-style: normal;
        font-weight: $fw-normal;
        line-height: normal;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $orange-color;
          font-weight: $fw-bold;
        }
      }
      .header__item--active {
        color: $orange-color;
        font-weight: $fw-bold;
      }
    }
  }
}
