* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 54%;
}

.header__item {
  color: #323232;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__item--active {
  color: #F78434;
  font-weight: 700;
}

.page__container {
  display: flex;
  flex-direction: column;
}

.promo {
  width: 100%;
  position: relative;
}

.promo img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.promo__title {
  color: #323232;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 79px;
  /* 146.296% */
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  text-align: left;
  width: 60%;
}

.promo__subtitle {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  width: 43%;
  text-align: left;
}

.promo__action {
  width: 460px;
  border-radius: 29px;
  background: #FFF;
  box-shadow: 0px 17px 42px 0px rgba(0, 0, 0, 0.12);
}