* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 54%;
}

.header__item {
  color: #323232;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__item--active {
  color: #F78434;
  font-weight: 700;
}

.page {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

.features__image-box {
  flex-basis: 50%;
  top: 918px;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.page__container {
  display: flex;
  flex-direction: column;
}

.promo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 676px;
}

.promo img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.promo__title {
  color: #323232;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 79px;
  /* 146.296% */
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  text-align: left;
  width: 60%;
}

.promo__subtitle {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  width: 43%;
  text-align: left;

  margin-bottom: 42px;
}

.promo__action {
  width: 460px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.promo__input {
  padding: 18px 0 18px 72px;
  border-radius: 29px;
  border: none;
  outline: none;
  color: #BBB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__input::placeholder {
  color: #BBB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__btn {
  border-radius: 29px;
  background: #F78434;
  border: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 0;
  flex-basis: 34%;
}

.promo__action img {
  position: absolute;
  left: 28px;
  top: 21px;
  z-index: 2;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}

.features {
  display: flex;
  justify-content: end;
  height: 550px;
  align-items: center;
}

.features__text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 34%;
}

.features__title {
  color: #323232;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 147.619% */
  letter-spacing: 0.8px;
  text-align-last: left;
}

.features__subtitle {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  margin-top: 20px;
  text-align: left;
}

.features__btn {
  padding: 18px 39px;
  border-radius: 29px;
  background: #F78434;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
}

.video {
  border-radius: 20px;
  background: #58BEBF;
  margin: 145px 0;
  position: relative;
  z-index: 1;
  height: 464px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.video__rectangle {
  position: absolute;
  width: 555px;
  height: 405px;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 0 21.6px 0 20px;
  background: #FFF;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
}

.video__table {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.video__oval {
  position: absolute;
  bottom: 0;
  left: 369px;
  z-index: -2;
}

.video__circle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.video__fill {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.video__text-box {
  flex-basis: 50%;
  padding: 0 95px;
}

.video__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 147.619% */
  letter-spacing: 0.8px;
  text-align: left;
}

.video__subtitle {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  text-align: left;
  margin-top: 15px;
}

.video__buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.video__contact-btn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  background: #F78434;
  border: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-basis: 47%;
  padding: 18px;
}

.video__video-btn {
  border-radius: 29px;
  height: 60px;
  border: none;
  background: #FFF;
  color: #323232;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-basis: 47%;
  padding: 18px;
  display: flex;
  justify-content: center;
  column-gap: 7px;
  align-items: center;
}

.page__rectangle {
  background: #F5F6FA;
  height: 704px;
  position: absolute;
  top: 1845px;
  width: 100%;
  z-index: -1;
}

.exp {
  position: relative;
  height: 550px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.exp__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 147.619% */
  letter-spacing: 0.8px;
  text-align: left;
}

.exp__subtitle {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  margin: 15px 0;
  text-align: left;
}

.exp__btn {
  margin-top: 15px;
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 29px;
  background: #FFF;
  border: none;
  padding: 18px 40px;
  border: none;
}

.page__mask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 492px;
}

.page__oval {
  position: absolute;
  bottom: 0;
  right: 78px;
}

.exp img {
  position: absolute;
  bottom: 0;
  left: 533px;
}

.exp__text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 0 55px 0;
  width: 33%;
}

.footer {
  padding: 86px 0;
}

.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: 27%;
}

.footer__logo {
  width: 56%;
}

.footer__subtitle {
  margin: 15px 0 40px 0;
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 1.15px;
  text-align: left;
}

.footer__nav {
  display: flex;
  align-items: start;
  column-gap: 85px;
}

.footer__nav-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 12px;
}

.footer__title {
  color: #323232;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.footer__nav-item {
  color: #323232;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 192.857% */
  letter-spacing: 0.5px;
}